.head{
  color:aliceblue;
  border:2px solid DodgerBlue;
}
/*.table {
  border: 1px solid;
  border:6px solid DodgerBlue;
}*/
.for{
  position: absolute;
  top: 100px;
  right: 300px;

}
body{
  background-color:aliceblue;
}
.button {
  align-items: left;
  background-color: blue;
  color: aliceblue;
  text-align: center;
  padding: 12px 70px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: aliceblue;
  color: black;
}
